@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-poppins: "poppins", sans-serif;
  --font-notosans: "Noto Sans", sans-serif;
  --font-alan: "Alan sans", sans-serif;
  --default-font-family: var(--font-outfit);
  --color-background: #000;
}

* {
  transition: 0.2s ease;
}

a:hover,
button:hover {
  opacity: 0.8;
}

button,
select {
  cursor: pointer;
}

#profile-show-modal {
  animation: showup 0.4s ease-in-out;
  transition: 0.3s ease-in-out;
}

@keyframes showup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
